/* Global */
* {
  box-sizing: border-box;
}

html {
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
  background-color: black;
  color: aliceblue;
}

a {
  color: seagreen;
  font-weight: bolder;
  text-decoration: none;
}

h1 {
  font-size: 16px;
  font-weight: bolder;
}

/* Nav Bar styles */
.navbar {
  display: flex;
  align-items: center;
}
.navigation {
  background-color: #52057b;
  padding: 10px;
  width: 45%;
  display: inline-block;
  border-radius: 5px;
  max-height: 80px;
  margin-right: 10px;
}

.close-icon i {
  font-size: 20px;
  float: left;
  cursor: pointer;
}

.nav-list {
  list-style-type: none;
  overflow: hidden;
}

.nav-item a {
  float: right;
  display: block;
  text-align: center;
  margin-inline: 20px;
  font-size: 20px;
  padding: 10px;
  color: black;
}

.nav-item a:hover {
  background-color: aliceblue;
  transition-delay: 100ms;
}

.hide {
  display: none;
}

.bar-icon {
  font-size: 40px;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  cursor: pointer;
}

@font-face {
  font-family: aquire;
  src: url(aquire.otf);
}

.brand {
  font-size: 40px;
  display: inline-block;
  font-family: aquire;
}

/*Navbar for the smartphones*/
@media screen and (max-width: 460px) {
  .navigation {
    max-height: auto;
  }

  .close-icon i {
    font-size: 30px;
  }

  .nav-item a {
    float: left;
    display: inline;
    margin-inline: 3px;
    font-size: 10px;
    padding: 5px;
  }

  .bar-icon {
    font-size: 30px;
  }

  .brand {
    font-size: 20px;
  }
}

/* Search Box styles */
.search-box {
  border: none;
  margin-top: 2px;
  padding: 0px;
  display: flex;
  float: right;
  justify-content: right;
}

.search-box select {
  padding: 10px;
}

.search-box input {
  padding: 10px;
}

.search-box button {
  padding: 10px;
  background-color: #fff;
  color: #000000;
}

.search-box button:hover {
  background-color: #000000;
  color: #fff;
  box-shadow: 1px 2px 3px #fff;
}

/* search box for smrtphones */
@media screen and (max-width: 460px) {
  .search-box input,
  .search-box button,
  .search-box select {
    min-width: 300px;
    margin-top: 5px;
  }
}

.forum-info {
  padding: 20px;
  background-color: #111314;
}

.chart {
  font-size: 20px;
  font-weight: bold;
}

/* posts table's head  */
.table-head {
  display: flex;
}

.table-head div {
  padding: 5px;
  margin: 2px;
  background-color: #2c2c2c;
  font-weight: bold;
}

.table-head .status {
  flex: 5%;
}

.table-head .subjects {
  flex: 70%;
}

.table-head .replies {
  flex: 10%;
}

.table-head .last-reply {
  flex: 15%;
}

/* posts table's body  */

.table-row {
  display: flex;
}

.table-row .status,
.table-row .subjects,
.table-row .replies,
.table-row .last-reply {
  padding: 5px;
  margin: 2px;
  background-color: #131415;
}

.table-row .status {
  flex: 5%;
  font-size: 30px;
  text-align: center;
}

.table-row .subjects {
  flex: 70%;
}

.table-row .replies {
  flex: 10%;
}

.table-row .last-reply {
  flex: 15%;
}

/* navigation path*/
.navigate {
  margin-block: 20px;
  font-weight: lighter;
  font-size: 24px;
}

.navigate a {
  color: #fff;
}

.navigate a:hover {
  color: seagreen;
  font-weight: bolder;
}

/* Pagination*/

.pagination {
  padding: 20px;
  font-size: 15px;
}

.pagination a {
  color: #fff;
  margin-inline: 5px;
  padding: 5px 10px;
  border: solid 0.5px #fff;
}

.pagination a:hover {
  opacity: 0.5;
}

.note {
  background-color: #111314;
  padding: 20px;
  display: block;
}

.note span {
  font-size: 20px;
  margin-block: 5px;
}
